body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

.d-flex {
    display: flex;
}

.flex-sb {
    justify-content: space-between;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    align-items: center;
    margin-bottom: 70px;
}

.header a {
    text-decoration: none;
    color: black;
}
    
.nav-list {
    width: 963px;
    align-items: center;
}

.header__city {
    align-items: center;
}

.section-info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #000000;
    margin-top: 50px;
}

.info-img {
    margin-top: 30px;
    margin-left: 30px;
    width: 500px;
    height: 285px;
}

.list-h5 {
    color: black;
}

.footer {
    margin-top: 100px;
}

.footer a {
    text-decoration: none;
}

.service {
    margin-top: -20px;
}
