body {
    font-family: 'Inter', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.flex-sb {
    justify-content: space-between;
}

.header {
    align-items: center;
    margin-bottom: 70px;
}

.header a {
    text-decoration: none;
    color: black;
}
    
.nav-list {
    width: 963px;
    align-items: center;
}

.header__city {
    align-items: center;
}

.cart {
    padding-left: 98px;
}

.cart__inside {
    border: 2px solid rgba(113, 112, 112, 1);
    width: 996px;
    height: 62px;
    padding-left: 11px;      
}

.cart a {
    list-style-type: none;    
    color:rgba(0, 0, 0, 1);   
}

li {
    list-style-type: none;
}

.footer {
    margin-top: 70px;
}

.footer-list a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.service {
    margin-top: -20px;
}