body {
    font-family: 'Inter', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.flex-sb {
    justify-content: space-between;
}

.header {
    align-items: center;
    margin-bottom: 70px;
}

.header a {
    text-decoration: none;
    color: black;
}
    
.nav-list {
    width: 963px;
    align-items: center;
}

.header__city {
    align-items: center;
}

.city h1 {
    margin-left: 286px;
}

.city__cities {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid rgba(113, 112, 112, 1);
    width: 609px;
    height: 116px;
    margin-left: 286px;    
}

.city__cities a {
    list-style-type: none;
    text-decoration: none;
    color:rgba(74, 74, 74, 1);   
}

li {
    list-style-type: none;
}

.footer {
    margin-top: 62px;
}

.footer-list a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.service {
    margin-top: -20px;
}