.container {
    width: 1140px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.flex-sb {
    justify-content: space-between;
}

.header a {
    text-decoration: none;
}

.nav-list h4 {
    margin-top: 50px;
    margin-right: 70px;  
    color: black;  
}

.img-cart {
    margin-top: 37px;
    margin-right: 70px; 
}

.img-map {
    margin-top: 30px;
}