body {
    font-family: 'Inter', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.flex-sb {
    justify-content: space-between;
}

button {
    border: 0;
    width: 177px;
    height: 26px;
    border-radius: 3px;
}

.header {
    margin-bottom: 28px;
}

.header a {
    text-decoration: none;
}

.list-h4 {
    margin-top: 50px;
    margin-right: 70px;  
    color: black;  
}

.img-cart {
    margin-top: 37px;
    margin-right: 70px; 
}

.img-map {
    margin-top: 30px;
}

.service {
    margin-bottom: 63px;
}

.service h1 {
    padding-right: 63px;
}

.service__spare a {
    color: rgba(60, 150, 118, 1);
}

.spare {
    margin-bottom: 36px;
    position: relative;
}

.spare__cart {
    position: absolute;
    top: 368px;
    background-color: rgba(60, 150, 118, 1);
}

.footer-list a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.service {
    margin-top: -20px;
}