body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: rgba(255, 255, 255,);
}

ul {
    margin: 0;
    padding: 0;
}

.d-flex {
    display: flex;
}

.flex-sb {
    justify-content: space-between;
}

.d-bl {
    display: block;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header a {
    text-decoration: none;
}


.list-h4 {
    margin-top: 50px;
    margin-right: 70px;  
    color: black;   
}

.img-cart {
    margin-top: 37px;
    margin-right: 70px; 
}

.img-map {
    margin-top: 30px;
}

.list-h5 {
    color: black;
}

.footer a {
    text-decoration: none;
}

.feedback-left-tel {
    color: #3C9676;
}

.feedback-left-h4 {
    margin-top: 70px;
}

.feedback-left-p {
    margin-top: 30px;
}

.feedback-left-h5 {
    margin-top: 70px;
    color: black;
}

.feedback-right {
    margin-left: 240px;
}

.feedback-right-h1 {
    margin-top: 65px;
}

.f-r-input {
    box-sizing: border-box;
    mix-blend-mode: normal;
    border: 1px solid #717070;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 600px;
    height: 40px;
}

.family {
    margin-top: 20px;

}

.name {
    margin-top: 20px;
}

.patronymic {
    margin-top: 20px;
}

.tel {
    margin-top: 20px;
}

.mail {
    margin-top: 20px;
}

.txt {
    margin-top: 20px;
    height: 160px;
}

.feedback-right-btn {
    width: 287px;
    height: 66px;
    background-color: #3C9676;

    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.btn-txt {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 20px;
}

.service {
    margin-top: -15px;
}