body {background: url('peach.gif') rgba(217, 217, 217, 1) repeat-x 50% fixed;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
ul {
    margin: 0;
    padding: 0;
}



.d-flex {
    display: flex;
}
select{
position: absolute;
width: 353px;
height: 50px;
left: 400px;
top: 240px;

mix-blend-mode: normal;
border: 1px solid #717070;

}

.flex-sb {
    justify-content: space-between;
}

h1{ margin: 0 auto;}
.diler{
   
    margin: 0 auto;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header a {
    text-decoration: none;
}

.nav-list h4 {
    margin-top: 50px;
    margin-right: 80px;  
    color: black;  
}

h1{position: absolute;
    width: 172px;
    height: 48px;
    left: 400px;
    top: 139px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #000000;}
    .city{
    box-sizing: border-box;
    position: absolute;
    width: 353px;
    height: 50px;
    left: 400px;
    top: 220px;
    mix-blend-mode: normal;
    border: 1px solid #717070;
    }
    .city a{
        text-decoration: none;
    }
    
    .city-2{
        box-sizing: border-box;
        position: absolute;
        width: 353px;
        height: 77px;
        left: 400px;
        top: 298px;
    
        mix-blend-mode: normal;
        border: 1px solid #717070;
    
        }
        .city-2 a{
            text-decoration: none;
        }
        .city-3{box-sizing: border-box;
    
            position: absolute;
            width: 353px;
            height: 77px;
            left: 400px;
            top: 416px;
            
            mix-blend-mode: normal;
            border: 1px solid #717070;}
        .card__Nizhny-Novgorod{
            position: absolute;
                width: 900px;
                height: 600px;
                right: 10px;
                top: 180px;
    
         background: url(image.png);
    
    }
    .footer{
        position: absolute;
        width: 169.88px;
        height: 19px;
        left: 350px;
        top: 794px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        
        color: #000000;
        
        
        }
        .footer a {
            text-decoration: none;
        }
        
    .footer a {
        text-decoration: none;