body {background: url('peach.gif') rgba(217, 217, 217, 1) repeat-x 50% fixed;
    margin: 0;
    font-family: 'Montserrat', sans-serif;}
    ul {
        margin: 0;
        padding: 0;
    }
    
    .d-flex {
        display: flex;
    }
    select{
        margin-top: 20px;
        padding-right: 400px;
        width: 00px;
    }
    .diler{
        width: 1140px;
        margin: 0 auto;
    }
    .city-2{
         
        width: 1140px;
        margin: 0 auto;
        border: 1px solid #717070;
        
    }
    .city-3{
        width: 1140px;
        margin: 0 auto; 
    }
    
       
   
    select{width: 1px;
        padding-right: 130px;  
    }
       

    
    
    .flex-sb {
        justify-content: space-between;
    }
    .card__Nizhny-Novgorod{
        margin: 0 auto;
        padding-left: 500px;
        margin-top: -260px;
        margin-bottom: 10px;
        width: 100px;
    }
    
    .container {
        width: 1140px;
        margin: 0 auto;
    }
    .map_moscow
        {
            justify-content: space-between;}
    
    

    .header a {
        text-decoration: none;
    }
    
    .nav-list h4 {
        margin-top: 50px;
        margin-right: 80px;  
        color: black;  
    }
    
    .list-h5 {
        color: black;
    }
    
    .footer a {
        text-decoration: none;
    }
    
    .img-map {
        margin-top: 30px;
    }
